.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  text-align: center;
  box-shadow: 0 0 2px rgb(142 142 142 / 50%);
  width: 220px;
  padding: 24px;
  margin-bottom: 32px;
}

.card img {
  height: 160px;
  width: 160px;
}
